body {
  margin: 0;
  padding: 0;
  background-color: rgb(187, 187, 187);
  background-attachment: fixed; 
}



canvas {
  display: block;
  border-radius: 150px;
  border-width: 12px;
}

@font-face {
  font-family: "myFirstFont";
  src: url("dl.otf");
}
